# files will be auto encrypted when commit
# accounts/*.bean filter=git-crypt diff=git-crypt
# *.md         filter=git-crypt diff=git-crypt
# *.png        filter=git-crypt diff=git-crypt
# link/.ssh/** filter=git-crypt diff=git-crypt
# a.txt        filter=git-crypt diff=git-crypt
# *.env        filter=git-crypt diff=git-crypt
.devcontainer/**        filter=git-crypt diff=git-crypt
ln_src_code.sh        filter=git-crypt diff=git-crypt
pcc.sh                filter=git-crypt diff=git-crypt

# 不需要加密的檔案且要放在檔案最後，表示有較高的優先權
.gitignore              !filter !diff
.gitattributes          !filter !diff
./ReadMe.txt            !filter !diff
./ReadMe_VNPY.txt       !filter !diff

# 💢避免檔案格式被轉換
# 因為 ˙*.env與*.sh在Linux環境下必須是 LF 換行符號
* -text